*, *::before, *::after {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: auto;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 1rem;
}

#nav-links {
    display: flex;
    list-style: none;
    width: 800px;
    justify-content: space-around;

    
}

.nav-link a {
    text-decoration: none;
    color: black;
}

/* ABOUT */

#intro {
    display: flex;
    height: 80vh;
    align-items: center;
}

#intro-container {
    font-size: 3rem;
    margin: auto;
}

#intro-container span {
    display: block;
}

#tech-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: auto;
}

.tech-icon {
    width: 100px;
    height: auto;
    padding: 5px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}