*, *::before, *::after {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 1rem;
}

#nav-links {
    display: flex;
    list-style: none;
    width: 800px;
    justify-content: space-around;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

/* ABOUT */

#intro {
    display: flex;
    height: 80vh;
    align-items: center;
}

#intro-container {
    font-size: 3rem;
    margin: auto;
}

#intro-container span {
    display: block;
}

#intro-container p {
    color: grey;
    font-size: 1.5rem;
    font-style: italic;
}

#tech-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: auto;
}

.tech-icon {
    width: 100px;
    height: auto;
    padding: 5px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

/* PROJECTS */

#projects h2 {
    text-align: center;
}

.project-card {
    display: flex;
    margin-top: 3rem;
}

.project-card * {
    padding: 0.5rem;
}

.project-card span {
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 0.25rem 0.5rem;
}

.project-card img {
    width: 400px;
}

/* CONTACT FORM */

#contact {
    margin-top: 3rem;
}

#contact > h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding-bottom: 3rem;
    
}

input, textarea {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}

button {
    font-size: 1rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: auto;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}